#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  margin-bottom: 3rem;
  border-bottom: 1px solid #444;
  padding-bottom: 1rem;
}

header h1 {
  font-size: 2.5em;
  line-height: 1.1;
  color: #61dafb;
}

header p {
  font-size: 1.1em;
  color: #888;
}
